.App {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5%;
}

.cv-header {
    display: flex;
    justify-content: space-between;
}

.resume {
    border: 1px solid black;
    height: auto;
    width: 60em;
    padding: 2em;
}
