@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

* {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

p {
    letter-spacing: 2px;
}

button {
    border: 1px solid black;
    border-radius: 1em;
    padding: 1em 2em;
    background: none;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

button:hover {
    transform: scale(1.05);
    cursor: pointer;
}

button,
.hover:hover {
    transform: scale(1.01);

    transition: all 0.15s;
}
